@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 39, 34, 32; /* #272220 */
  --background-start-rgb: 245, 244, 239; /* #f5f4ef */
  --background-end-rgb: 245, 244, 239;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
